body {
    height: auto;
    background-color: #333;
    margin: 0px;
    font-size: 24px;
}

input {
    background-color: #222;
    border: 2px solid #444;
    border-radius: 5px;
    box-sizing: border-box;
    color: white;
    font-size: inherit;
    height: calc(1em + 6px);
    caret-color: #888;
    outline: none;
}

input[type="number"] {
    height: 1rem;
    box-sizing: content-box;
    outline: none;
    background-color: #222;
    border: 2px solid #444;
    border-radius: 5px;
    height: calc(1em + 3px);
}

select {
    outline: none;
    background-color: #222;
    border: 2px solid #444;
    border-radius: 5px;
    color: white;
    font-size: inherit;
    box-sizing: content-box;
}

h3 {
    position: relative;
    color: white;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 10px;
    width: 100%;
    font-size: 2rem;
}

h2 {
    position: relative;
    color: white;
    text-align: right;
    margin-top: 0px;
    margin-left: 10px;
    width: 100%;
    font-size: 2rem;
    top: 5px;
}

.output {
    position: relative;
    height: auto;
    margin: 5px;
}

#settingsButton {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 5px;
    left: 5px;
    background-color: #222;
    border: 2px solid #444;
    border-radius: 5px;
    cursor: pointer;
}

.hide {
    display: none;
}

#settings {
    position: fixed;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #222;
    border: 2px solid #444;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}